
  <header>
    <div class="logo">
      <h1>Repo Analyzer</h1>
      <h5><i>A tool for analyzing the code coverage evolution in open-source projects on GitHub</i></h5>
    </div>
    <div class="info">
      <p><b>Env:</b> {{env}}</p>
    </div>
  </header>
  <nav>
    <ul>
      <li><a routerLink="/run-list">Runs</a></li>
      <li><a routerLink="/settings">Settings</a></li>
    </ul>
  </nav>
  <main>
  	<router-outlet></router-outlet>
  </main>
  <footer>
    © 2025 Evangelos Nikolaou. Open Source under MIT/Apache License.
  </footer>
